:root {
  --main-bg-color: #232324;

  --main-text-color: #E0DEDA;
  --main-text-highlight-color: #777c79;

  --main-border-image-color: #1A1C1D;

  --searchbox-color: #1A1C1D;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  transition: all 0.3s ease-in-out !important;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  min-height: 100vh;
}

#header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-toggle {
  align-self: flex-end;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#title {
  margin: 15px 0 15px 0;

  font-size: 6em;
  font-weight: 700;
  color: var(--main-text-color);

  text-shadow:
    0px 1px 0px var(--main-text-highlight-color),
    1px 0px 0px var(--main-text-highlight-color),
    1px 2px 0px var(--main-text-highlight-color),
    2px 1px 0px var(--main-text-highlight-color),
    2px 3px 0px var(--main-text-highlight-color);
}

#searchbox {
  width: 25%;
  height: 4%;

  margin: 15px 0 15px 0;
  padding: 15px 15px;
  opacity: 75%;

  border: none;
  border-radius: 5px;

  color: var(--main-text-color);

  font: lighter 1em "Lato", sans-serif;
  text-align: center;

  background-color: var(--searchbox-color);
  transition: 0.3s ease-in-out !important;
}

#searchbox:hover,
#searchbox:focus {
  outline: none;

  width: 35%;
  transition: 0.3s ease-in-out !important;
}

#container {
  width: 90%;

  margin: 15px 0 15px 0;
  padding: 15px 15px;

  display: grid;
  justify-items: center;

  grid-template-columns: repeat(3, 33.33%);

  grid-row-gap: 25px;

}

.linkblock {
  display: flex;
  justify-content: center;
}

.linkblock .image {
  width: 8em;
  height: 16em;

  object-fit: cover;
  pointer-events: none;

  opacity: 75%;
  border-radius: 5px;
}

.linkblock .link {
  width: 1rem;
}

.linkblock ul {
  color: var(--main-text-color);
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
}

.linkblock li {
  margin-top: 2px;
  margin-left: 10px;
  text-align: left;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  opacity: 75%;
  transition: 0.1s ease-in-out !important;
  font-size: 20px;
}

a:hover {
  color: var(--main-text-highlight-color);
  font-size: 25px;
  transition: 0.1s ease-in-out !important;
}

/* media queries */

/* portrait */
@media only screen and (max-width: 1200px) {
  #container {
    grid-template-columns: repeat(2, 50%);
  }

}

/* mobile */
@media only screen and (max-width: 700px) {
  #container {
    grid-template-columns: repeat(1, 100%);
  }
}